* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
--darkSideBodyBackground: #b3ababb4;
  --backgoroundColorDarkSide: #000000;
  --headerLinksColorDarkSide_1: #fff;
  --headerLinksColorDarkSide_2: #dfa906;
  --DarkSideSubTitlt: #B31D1D;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

ul {
list-style: none;
}

a {
text-decoration: none;
}

body {
background-color: #efe8e8b0;
}

.App {
  text-align: center;
}