:root {
    --backgoroundColorDarkSide: #000000;
    --headerLinksColorDarkSide: #fff;
    --headerLinksColorDarkSide_2: #dfa906;
    --subTitleDarkSide: #B31D1D;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}